pip>=25.2

# Core ML
scikit-learn
sentence-transformers
faiss-cpu
pandas
numpy
scipy
torch
torchvision
torchaudio
tensorflow==2.15.0
keras
scikit-surprise

# Visualization
matplotlib
seaborn
plotly
wordcloud
networkx
pillow

# Web + Auth
streamlit
streamlit-authenticator
requests
beautifulsoup4
tmdbv3api
bcrypt
groq

# Utility
astor
