pip>=25.2

# Core ML & NLP
scikit-learn
sentence-transformers
faiss-cpu
pandas
numpy
scipy
torch
torchvision
torchaudio
tensorflow
keras
scikit-surprise

# Web + Auth
streamlit
streamlit-authenticator
requests
beautifulsoup4
tmdbv3api
bcrypt

# Visualization
matplotlib
seaborn
plotly
wordcloud
networkx
pillow

# Utility
asto
